[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "*"
numpy = "*"
matplotlib = "*"
ipython = "*"
scipy = "*"
soundfile = "*"
sounddevice = "*"
pygame = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
